.ui-list-icons {
	MARGIN-BOTTOM: 10px;width:780px;
}
.ui-list-icons ul {
	FLOAT: left; width:770px; border:none;
}
.ui-list-icons LI {
	WIDTH: 153px; FLOAT: left;MARGIN-RIGHT: 0px;
}
.ui-list-icons INPUT {
	VERTICAL-ALIGN: middle
}
.ui-list-icons .icon-box {
	CURSOR: pointer; 
}
.ui-list-icons .icon-box2 {
	CURSOR: pointer; 
}
.ui-list-icons .icon-box3 {
	CURSOR: pointer; 
}
.ui-list-icons .icon-box3_fastpay {
	CURSOR: pointer; 
}
.ui-list-icons .icon-box_fastpay {
	CURSOR: pointer; 
}
.ui-list-icons .icon-box_checkstand1 {
	CURSOR: pointer; 
}
.ui-list-icons-index {
	MARGIN-BOTTOM: 10px;width:440px;
}
.ui-list-icons-index  ul {
	FLOAT: left; width:440px; border:none;
}
.ui-list-icons-index  LI {
	WIDTH: 140px; FLOAT: left;MARGIN-RIGHT: 0px;BORDER-bottom: 1px solid #ebebec; 
}
.ui-list-icons-index .icon-box-index {
	CURSOR: pointer; 
}
.icon-box-index-btop{BORDER-top: 1px solid #ebebec;}
.icon-box-index {
	BORDER-left: 1px solid #ebebec; BORDER-right: 1px solid #ebebec;POSITION: relative;BACKGROUND-COLOR: #fff; WIDTH: 140px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; 
}

.ui-list-icons .current {
	BORDER-BOTTOM-COLOR: #f60 !important; BORDER-TOP-COLOR: #f60 !important; BORDER-RIGHT-COLOR: #f60 !important; BORDER-LEFT-COLOR: #f60 !important
}
.ui-list-icons .hover {
	BORDER-BOTTOM-COLOR: #f60 !important; BORDER-TOP-COLOR: #f60 !important; BORDER-RIGHT-COLOR: #f60 !important; BORDER-LEFT-COLOR: #f60 !important
}

.ui-list-icons LI.more {
	TEXT-ALIGN: center; WIDTH: 100px
}
.ui-list-icons LI.more A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; DISPLAY: block
}
.ui-list-icons LI.more B {
	MARGIN: 0px auto; WIDTH: 14px; DISPLAY: block; HEIGHT: 8px; FONT-SIZE: 0px
}
.ui-list-icons2 {
	MARGIN-BOTTOM: 20px;width:700px;
}
.ui-list-icons2 ul {
	FLOAT: left; width:700px; border:none;
}
.ui-list-icons2 LI {
	WIDTH: 153px; FLOAT: left;MARGIN-RIGHT: 0px; margin-right:10px; margin-bottom:10px;
}
.ui-list-icons2_0425 {
	MARGIN-BOTTOM: 20px;width:900px;
}
.ui-list-icons2_0425 ul {
	FLOAT: left; width:700px; border:none;
}
.ui-list-icons2_0425 LI {
	WIDTH: 153px; FLOAT: left;MARGIN-RIGHT: 0px; margin-right:10px; margin-bottom:10px;
}
.ui-list-icons3 {
	MARGIN-BOTTOM: 20px;width:720px;
}
.ui-list-icons3 ul {
	FLOAT: left; width:720px; border:none;
}
.ui-list-icons3 LI {
	WIDTH: 170px; FLOAT: left;MARGIN-RIGHT: 0px; margin-right:10px; margin-bottom:10px;
}
.ui-list-tip {
	BORDER-BOTTOM: #ccc 1px dashed; TEXT-ALIGN: right; PADDING-BOTTOM: 5px; DISPLAY: block; MARGIN-BOTTOM: 5px; COLOR: #888
}
.icon-box {
	BORDER: 1px dotted #c9c9c9; POSITION: relative;BACKGROUND-COLOR: #fff; WIDTH: 153px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; 
}
.icon-box3 {
	BORDER: #c9c9c9 1px solid; POSITION: relative;BACKGROUND-COLOR: #fff; WIDTH: 250px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer; height:46px;}
.icon-box3_fastpay {
	BORDER: #c9c9c9 1px solid; POSITION: relative;BACKGROUND-COLOR: #fff; WIDTH: 250px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer; height:46px;}
.icon-box_checkstand1 {
	BORDER: #c9c9c9 1px solid; POSITION: relative;BACKGROUND-COLOR: #fff; WIDTH: 198px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer; height:38px;}
.icon-box4 {
	BORDER: #c9c9c9 1px solid; POSITION: relative;BACKGROUND-COLOR: #fff; WIDTH: 153px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; 
height:46px;CURSOR: pointer;}
.icon-box4_partner {
	BORDER: #c9c9c9 1px solid; POSITION: relative;BACKGROUND-COLOR: #fff; WIDTH: 163px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; 
height:46px;CURSOR: pointer;}
.icon-box2 {
	POSITION: relative;
	BACKGROUND-COLOR: #fff;
	WIDTH: 153px;
	DISPLAY: inline-block;
	VERTICAL-ALIGN: middle;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #c9c9c9;
	border-right-color: #c9c9c9;
	border-bottom-color: #c9c9c9;
	border-left-color: #c9c9c9;
}

.icon-box3:hover {float: left;font-size: 12px;DISPLAY:inline-block; font-weight: normal;line-height:46px; DISPLAY: inline-block;width:250px;border:1px solid #a7cd24; height:46px; margin-right:8px;display:inline; /*background:url(../pic/accout_recharge_li_bg.gif);*/}
.icon-box_checkstand1:hover {float: left;font-size: 12px;DISPLAY:inline-block; font-weight: normal;line-height:38px; DISPLAY: inline-block;width:198px;border:1px solid #a7cd24; height:38px; margin-right:8px;display:inline; /*background:url(../pic/accout_recharge_li_bg.gif);*/}
.icon-box3_fastpay:hover {float: left;font-size: 12px;DISPLAY:inline-block; font-weight: normal;line-height:46px; DISPLAY: inline-block;width:250px;border:1px solid #a7cd24; height:46px; margin-right:8px;display:inline; /*background:url(../pic/accout_recharge_li_bg.gif);*/}
.icon-box5{float: left;font-size: 12px;DISPLAY:inline-block; font-weight: normal; DISPLAY: inline-block;width:250px;border:1px solid #a7cd24; height:46px; margin-right:8px;*margin-right:3px; background:url("../pic/accout_recharge_li_bg.gif")/*tpa=https://www.tftpay.com/newweb/pic/accout_recharge_li_bg.gif*/;}
.icon-box_fastpay{float: left;font-size: 12px;DISPLAY:inline-block; font-weight: normal; DISPLAY: inline-block;width:250px;border:1px solid #a7cd24; height:46px; margin-right:8px;*margin-right:3px; background:url("../pic/accout_recharge_li_bg.gif")/*tpa=https://www.tftpay.com/newweb/pic/accout_recharge_li_bg.gif*/;}
.icon-box-commend {
	BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; BORDER-LEFT: #ddd 1px solid; BACKGROUND-COLOR: #eee; WIDTH: 123px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.icon-box-kj {
	BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; BORDER-LEFT: #ddd 1px solid; BACKGROUND-COLOR: #eee; WIDTH: 123px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.icon-box .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px;WIDTH: 123px; margin-left:15px;
}
.icon-box-index .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px;WIDTH: 123px; margin-left:8px;
}

.icon-box2 .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px;WIDTH: 123px; margin-left:15px;
}
.icon-box3 .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px;WIDTH: 123px;BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; margin-left:15px; margin-top:2px; display:inline;
}
.icon-box_checkstand1 .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 38px;WIDTH: 123px;BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; margin-left:10px; display:inline;
}
.icon-box4 .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px;WIDTH: 123px;BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; margin-left:23px; margin-top:2px;display:inline;
}
.icon-box4_partner .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px;WIDTH: 123px;BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; margin-left:23px; margin-top:2px;display:inline;
}
.icon-box5 .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px; *HEIGHT: 40px;WIDTH: 123px;BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; margin-left:23px; margin-top:2px;*margin-top:4px;_margin-top:2px; display:inline;
}

.icon-box_fastpay .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px; *HEIGHT: 40px;WIDTH: 115px;BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; margin-left:4px; margin-top:2px;*margin-top:4px;_margin-top:2px; display:inline;
}/*已有快捷支付银行列表*/
.icon-box3_fastpay .icon {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px;WIDTH: 115px;BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; margin-left:4px; margin-top:2px; display:inline;
}

.cashier-bank .icon {
	BACKGROUND-IMAGE: url("../pic/bankicon.png")/*tpa=https://www.tftpay.com/newweb/pic/bankicon.png*/; HEIGHT: 40px
}

.icon-box EM {
	FONT-WEIGHT: normal
}




.ABC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px;
}
.ABC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.ABCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.ABCSHKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.ABCCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.ABCKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.abc101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.abc901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.ABCKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.ABCMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.abc102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.abc301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.CCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.CCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.CCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb103 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.CCBDPAYKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb701 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb105 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb104 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb905 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.CCBEPAYKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.ccb702 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -320px
}
.CEB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.CEB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.CEBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.CEBCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb9011 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb9012 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb902 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb903 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.ceb912 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -440px
}
.COMM {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -600px
}
.COMM000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -600px
}
.comm102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -600px
}
.COMMKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -600px
}
.comm301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -600px
}
.BOCMKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -600px
}
.comm101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -600px
}
.GDB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -280px
}
.GDB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -280px
}
.gdb102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -280px
}
.GDBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -280px
}
.gdb301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -280px
}
.GDBKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -280px
}
.gdb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -280px
}
.GDBB2B {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -661px
}
.GDBB2B000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -661px
}
.CITIC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.CITIC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.CITICKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.citic101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.citic901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.citic302 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.CCBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.citic102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.citic103 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.CITICBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.CITICSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -200px
}
.SDB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.SDB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.SDBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.sdb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.sdb102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.sdb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.SDBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.SDBKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.SDBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -240px
}
.SPDB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.SPDB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.spdb103 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.SPDBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.SPDBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.SPDBKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.spdb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.spdb301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.SPDBB2B {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.spdb102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -360px
}
.ICBC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.ICBC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.ICBCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.ICBCKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc103 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc104 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc105 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc701 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.icbc703 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.CMB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.CMB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.CMBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.cmb103 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.cmb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.cmb301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.CMBKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.cmb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.cmb302 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -80px
}
.CIB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.cib101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.cib103 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.cib301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.cib902 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.cib903 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.cib10 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.CIBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3365px
}
.PSBC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.PSBC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.PSBCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.psbc901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.PSBCCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.psbc101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.PSBCMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.psbc102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.psbc301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -400px
}
.VISA {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -696px
}
.VISA000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -696px
}
.VISACC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -696px
}
.VISAB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -696px
}
.VISAKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -696px
}
.VISAMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -696px
}
.abc1001 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -720px
}
.abc1003 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -720px
}
.abc1002 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3079px
}
.abc1004 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3079px
}
.ICBCPer {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.ICBCPerKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.ICBCPerB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -40px
}
.ABCPer {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.ABCPer {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -480px
}
.BOC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.boc901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.boc102 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.boc301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCKTKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCB2CKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCCCLKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.bocccl901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.bocccl902 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.boc101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCCCLBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCCCLSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCSHKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.boc701 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCSH {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BOCCCL {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.boc702 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -520px
}
.BJRCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2640px
}
.BJRCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2640px
}
.bjrcb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2640px
}
.BJRCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2640px
}
.bjrcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2640px
}
.BJRCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2640px
}
.BJRCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2640px
}
.HZCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -760px
}
.HZCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -760px
}
.HZCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -760px
}
.hzcb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -760px
}
.HZCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -760px
}
.hzcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -760px
}
.HZCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -760px
}
.EGBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1280px
}
.EGBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1280px
}
.EGBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1280px
}
.EGBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1280px
}
.EGBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1280px
}
.egbank901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1280px
}
.EGBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1280px
}
.CZBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.CZBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.czbank901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.CZBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.CZBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.CZBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.CZBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.CZBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1040px
}
.BOHAIBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -560px
}
.BOHAIB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -560px
}
.BOHAIB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -560px
}
.BOHAIBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -560px
}
.BOHAIBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -560px
}
.BOHAIBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -560px
}
.SPABANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1880px
}
.spabank901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1880px
}
.SPABANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1880px
}
.SPABANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1880px
}
.spabank101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1880px
}
.spabank301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1880px
}
.SPABANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1880px
}
.SHBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -840px
}
.SHBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -840px
}
.SHBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -840px
}
.SHBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -840px
}
.SHBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -840px
}
.shbank101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -840px
}
.shbank301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -840px
}
.NBBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1240px
}
.nbbank901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1240px
}
.NBBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1240px
}
<!--宁波银行-->
.NBBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1240px
}
.nbbank101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1240px
}
.NBBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1240px
}
.NBBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1240px
}
.NJCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -920px
}
.njcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -920px
}
.NJCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -920px
}
.NJCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -920px
}
.NJCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -920px
}
.NJCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -920px
}
.NJCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -920px
}
.HKB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2200px
}
.HKB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2200px
}
.HANKOUB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2200px
}
.HANKOUBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2200px
}
.HANKOUBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2200px
}
.HANKOUBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2200px
}
.HANKOUBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2200px
}
.SHRCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2480px
}
.SHRCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2480px
}
.SHRCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2480px
}
.SHRCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2480px
}
.SHRCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2480px
}
.SHRCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2480px
}
.SHRCBSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2480px
}
.CQBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1120px
}
.CQBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1120px
}
.CQBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1120px
}
.CQBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1120px
}
.CQBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1120px
}
.CQBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1120px
}
.WZCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1720px
}
.WZCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1720px
}
.WZCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1720px
}
.WZCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1720px
}
.WZCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1720px
}
.WZCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1720px
}
.wzcb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1720px
}
.CSCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1080px
}
.CSCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1080px
}
.CSCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1080px
}
.CSCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1080px
}
.CSCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1080px
}
.CSCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1080px
}
.QDCCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -960px
}
.QDCCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -960px
}
.QDCCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -960px
}
.QDCCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -960px
}
.QDCCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -960px
}
.QDCCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -960px
}
.TZCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1840px
}
.TZCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1840px
}
.TZCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1840px
}
.TZCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1840px
}
.TZCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1840px
}
.TZCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1840px
}
.JXBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1560px
}
.JXBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1560px
}
.JXBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1560px
}
.JXBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1560px
}
.JXBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1560px
}
.JXBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1560px
}
.CSRCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1160px
}
.csrcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1160px
}
.CSRCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1160px
}
.CSRCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1160px
}
.CSRCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1160px
}
.CSRCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1160px
}
.CSRCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1160px
}
.YCCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1680px
}
.yccb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1680px
}
.YCCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1680px
}
.YCCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1680px
}
.YCCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1680px
}
.YCCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1680px
}
.YCCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1680px
}
.NHBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2000px
}
.nhb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2000px
}
.NHB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2000px
}
.NHB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2000px
}
.NHBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2000px
}
.NHBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2000px
}
.NHBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2000px
}
.CZRCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2040px
}
.czrcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2040px
}
.CZRCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2040px
}
.CZRCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2040px
}
.CZRCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2040px
}
.CZRCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2040px
}
.CZRCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2040px
}
.GYCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1360px
}
.gycb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1360px
}
.GYCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1360px
}
.GYCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1360px
}
.GYCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1360px
}
.GYCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1360px
}
.GYCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1360px
}
.SXCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2240px
}
.SXCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2240px
}
.SXCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2240px
}
.SXCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2240px
}
.SXCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2240px
}
.SXCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2240px
}
.H3CBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2280px
}
.h3cr901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2280px
}
.H3CB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2280px
}
.H3CB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2280px
}
.H3CBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2280px
}
.H3CBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2280px
}
.H3CBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2280px
}
.WJRCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1760px
}
.wjrcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1760px
}
.WJRCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1760px
}
.WJRCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1760px
}
.WJRCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1760px
}
.WJRCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1760px
}
.WJRCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1760px
}
.ZYCBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1640px
}
.zycbank901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1640px
}
.ZYCBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1640px
}
.ZYCBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1640px
}
.ZYCBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1640px
}
.ZYCBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1640px
}
.ZYCBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1640px
}
.SDEBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2320px
}
.sdb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2320px
}
.SDEB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2320px
}
.SDEB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2320px
}
.SDEBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2320px
}
.SDEBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2320px
}
.SDEBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2320px
}
.FDBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.fdb101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.fdb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.FDB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.FDB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.FDBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.FDBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.FDBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1320px
}
.URMQCCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1800px
}
.urmqccb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1800px
}
.URMQCCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1800px
}
.URMQCCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1800px
}
.URMQCCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1800px
}
.URMQCCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1800px
}
.URMQCCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1800px
}
.HZCCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3040px
}
.hzccb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3040px
}
.HZCCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3040px
}
.HZCCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3040px
}
.HZCCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3040px
}
.HZCCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3040px
}
.HZCCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3040px
}
.DAQINGBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2400px
}
.daqingb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2400px
}
.DAQINGB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2400px
}
.DAQINGB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2400px
}
.DAQINGBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2400px
}
.DAQINGBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2400px
}
.DAQINGBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2400px
}
.HKBEAKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -160px
}
.hkbea901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -160px
}
.HKBEA {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -160px
}
.HKBEA000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -160px
}
.HKBEAB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -160px
}
.HKBEACC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -160px
}
.HKBEACC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -160px
}
.HXBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.hxbank901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANKSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANKBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.HXBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -680px
}
.ZBCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2360px
}
.zbcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2360px
}
.ZBCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2360px
}
.ZBCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2360px
}
.ZBCBB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2360px
}
.ZBCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2360px
}
.ZBCBMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2360px
}
.DRCBCL {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2440px
}
.DRCBCL000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2440px
}
.DRCBCLKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2440px
}
.drcbcl901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2440px
}
.CDCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1000px
}
.CDCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1000px
}
.CDCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1000px
}
.ZJNX {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2760px
}
.ZJNX000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2760px
}
.ZJNXKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2760px
}
.GCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2720px
}
.GCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2720px
}
.GCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2720px
}
.LANGFB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2960px
}
.LANGFB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2960px
}
.LANGFBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2960px
}
.GDRCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2800px
}
.GDRCC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2800px
}
.GDRCCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2800px
}
.JSRCU {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2920px
}
.JSRCU000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2920px
}
.JSRCUKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2920px
}
.LYCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2880px
}
.LYCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2880px
}
.LYCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2880px
}
.cmbc101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.cmbc902 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.cmbc903 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
<!--民生银行-->
.CMBC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBCB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBCCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBCMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBCCCKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBCSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMSB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMSBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.CMBCBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -120px
}
.HSBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -880px
}
.HSBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -880px
}
.hsyh101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -880px
}
.DLB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2120px
}
.DLB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2120px
}
.NCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2080px
}
.NCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2080px
}
.BOSZ {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3120px
}
.BOSZ000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3120px
}
.BOSZKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3120px
}
.JZBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3160px
}
.JZBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3160px
}
.CZCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3000px
}
.CZCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3000px
}
.FJHXBC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2160px
}
.FJHXBC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2160px
}
.JSBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1520px
}
.JSBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1520px
}
.ZJTLCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1600px
}
.ZJTLCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1600px
}
.ZJTLCBKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1600px
}
.zjtlcb901 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1600px
}
.MTBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2680px
}
.MTBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2680px
}
.JINCHB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1480px
}
.JINCHB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -1480px
}
.DYCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3200px
}
.DYCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3200px
}
.GLBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2840px
}
.GLBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2840px
}
.bjbank101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.bjbank902 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.bjbank903 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.BJBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.BJBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.BJBANKSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.BJBANKBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.BJBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.BJBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.BJBANKCC000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3240px
}
.CDRCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3280px
}
.CDRCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3280px
}
.LSBANKKT {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.lsbank101 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.lsbank103 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.lsbank301 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.lsbank902 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.lsbank903 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.LSBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.LSBANK000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.LSBANKB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.LSBANKCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.LSBANKMB2C {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.LSBANKBCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.LSBANKSCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3448px
}
.UMPAY {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3319px; HEIGHT: 38px !important
}
.RCC {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3405px
}
.RCB {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3405px
}
.RCB000 {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3405px
}
.ZHNX {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4280px;
}
.LFYDBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4320px;
}
.HEBBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3900px;
}
.QILUBANK {
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -2560px;
}
.HNBKT{
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4360px;
	
}
.CQRCB{
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3723px
}
.ZMDCB{
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4400px;
	
}
.HAINANBANK{
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4430px;
	
}
.BANKOFRIZHAO{
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4470px;
	
}
.DONGGUANBANK{
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -3533px;
}
.DZBCHINA{
	TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4505px;
}
.BANKOFBBG{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4535px;}
.SZNSBANK{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4565px;}
.WHCCB{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4595px;}
.TACCB{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4625px;}
.YCCCB{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4655px;}
.SRBANK{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4685px;}
.UNIONPAY{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4720px;}
.ICBCqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4793px;}/*工商银行企业logo*/
.BOCqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4833px;}/*中国银行企业logo*/
.ABCqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4873px;}/*中国农业银行企业logo*/
.CCBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4913px;}/*中国建设银行企业logo*/
.BCOMqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4953px;}/*中国交通银行企业logo*/
.CEBBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -4993px;}/*中国光大银行企业logo*/
.HXBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5033px;}/*中国华夏银行企业logo*/
.CMBCqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5073px;}/*中国民生银行企业logo*/
.SDBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5113px;}/*中国平安银行企业logo*/
.CMBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5153px;}/*中国招商银行企业logo*/
.SPDBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5193px;}/*浦发银行企业logo*/
.BHBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5233px;}/*河北银行企业logo*/
.HSBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5273px;}/*徽商银行企业logo*/
.BEAqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5313px;}/*东亚银行企业logo*/
.ECITICqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5353px;}/*中信银行企业logo*/
.CIBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5393px;}/*兴业银行企业logo*/
.GDBqiye{TEXT-INDENT: -9999px; BACKGROUND-POSITION: 0px -5433px;}/*广发银行企业logo*/
.ui-list-icons2 {
	MARGIN-BOTTOM: 10px; margin-left:20px; margin-top:10px;
}
.ui-list-icons2 LI {
	WIDTH: 156px;
	MARGIN-BOTTOM: 5px;
	FLOAT: left;
	MARGIN-RIGHT: 10px;
	background: url("../images/arrow2.gif")/*tpa=https://www.tftpay.com/newweb/images/arrow2.gif*/;
	background-repeat: no-repeat;
	background-position: left;
	text-align: left;
	text-indent: 12px;
}

.icon-box3 .iconx {
DISPLAY: block;
BACKGROUND-REPEAT: no-repeat;
HEIGHT: 40px;
WIDTH: 123px;
BACKGROUND-IMAGE: url("../pic/jsyh.jpg")/*tpa=https://www.tftpay.com/newweb/pic/jsyh.jpg*/;
margin-left: 15px;
margin-top: 2px;
display: inline;}
.jsyh{TEXT-INDENT: -9999px;BACKGROUND-POSITION: 0px 4px;}

