@charset "utf-8";
/* CSS Document */

.index_left{ float:left;
width:215px;}

#login{ width:215px;
position:relative;
margin-bottom:6px;
background-color:#FFF;}
#login_meun{ height:29px;
font-size:14px;
line-height:29px;
color:#689107;
font-weight:bold;
width:215px;}

#login_meun span{ width:107px;
height:29px;
float:left;
cursor:pointer;
text-align:center;
display:block;
background:url("../images/login_menu.jpg")/*tpa=https://www.tftpay.com/newweb/images/login_menu.jpg*/ no-repeat;
}
#login_meun span.hover{
	color:#FFF;
	background:url("../images/login_menu_on.jpg")/*tpa=https://www.tftpay.com/newweb/images/login_menu_on.jpg*/ no-repeat;}
#login_content{ width:193px;
overflow:hidden;
padding:10px;
height:220px;
border:1px solid #64b437;}
#login_content li{
	height:28px;
	margin-bottom:2px;}

#login_content li .left{
	 display:inline;
	height:20px;
	line-height:20px;
	float:left;
	display:inline;
	width:50px;}
.login_error{ color:#C80000;
padding-left:20px;
background:url("../images/password_error.jpg")/*tpa=https://www.tftpay.com/newweb/images/password_error.jpg*/ no-repeat left;
height:16px;
float:left;
display:block;
}
.login_btn{ margin-bottom:10px;}
.login_tips{ 
text-align:center;
}
.login_tips3{ 
margin-top:10px;
text-align:center;
}
.login_tips a{ }
.login_tips2{ 
margin-top:5px;
text-align:center;
.login_tips a{ margin-right:20px;}
}
/* 首页左边 */
.index_center{ height:410px;
width:460px;
padding:0 20px;
background:url("../images/idnex_center_bg.jpg")/*tpa=https://www.tftpay.com/newweb/images/idnex_center_bg.jpg*/ no-repeat;
float:left;}
.index_news{ width:440px;
position:relative;
height:24px;
padding-left:20px;
margin-bottom:5px;
background:url("../images/trumpet.jpg")/*tpa=https://www.tftpay.com/newweb/images/trumpet.jpg*/ no-repeat left;
line-height:24px;}
.cls_container{width:250px;font-size:12px;height:24px;overflow:hidden;font-family: Arial, Helvetica, sans-serif;
}
.cls_container ul li{height:24px;line-height:24px;}
.index_news .more{ position:absolute;
top:0;
right:0;}
.index_service{ position:relative;}
.index_service_tit{ width:460px;
height:32px;
position:relative;
background:url("../images/index_service_tit01.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_service_tit01.jpg*/ repeat-x;}
.index_service_tit02{ width:460px;
height:32px;
position:relative;
background:url("../images/index_service_tit02.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_service_tit02.jpg*/ repeat-x;}
.index_service_center
{width:440px;
padding:10px;
height:160px;
position:relative;
background:url("../images/index_service_center.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_service_center.jpg*/ repeat-x;}
.index_service_center02
{width:440px;
padding:10px;
height:90px;
position:relative;}
.index_service_center_bottom{
	width:460px;
height:3px;
position:absolute;
bottom:0;
background:url("../images/index_service_center_bottom.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_service_center_bottom.jpg*/ no-repeat;}

.index_mobile{ padding-left:60px;
background:url("../images/03.gif")/*tpa=https://www.tftpay.com/newweb/images/03.gif*/  no-repeat;}
.index_icon{ position:relative;}
.index_icon li{ float:left;}
.index_icon li a{ display:block;
width:60px;
height:92px;
margin:0 10px 0 15px;}
.index_icon li a.index_icon01{
	background:url("../images/index_icon01.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon01.gif*/ no-repeat;}
.index_icon li a.index_icon01:hover{
background:url("../images/index_icon01_on.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon01_on.gif*/ no-repeat;}
	.index_icon li a.index_icon02{
		background:url("../images/index_icon02.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon02.gif*/ no-repeat;}
.index_icon li a.index_icon02:hover{
background:url("../images/index_icon02_on.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon02_on.gif*/ no-repeat;}

.index_icon li a.index_icon03{
		background:url("../images/index_icon03.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon03.gif*/ no-repeat;}
.index_icon li a.index_icon03:hover{
background:url("../images/index_icon03_on.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon03_on.gif*/ no-repeat;}
.index_icon li a.index_icon04{
		background:url("../images/index_icon04.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon04.gif*/ no-repeat;}
.index_icon li a.index_icon04:hover{
			background:url("../images/index_icon04_on.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon04_on.gif*/ no-repeat;}

.index_icon li a.index_icon05{
		background:url("../images/index_icon05.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon05.gif*/ no-repeat;}
.index_icon li a.index_icon05:hover{
	background:url("../images/index_icon05_on.gif")/*tpa=https://www.tftpay.com/newweb/images/index_icon05_on.gif*/ no-repeat;}
	

.index_tel{ padding-left:90px;
background:url("../images/index_tel.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_tel.jpg*/ no-repeat;
height:80px;
width:120px;}/* 中间 */

.index_right{ width:225px;
float:left;}
.idnex_download{ background:url("../images/index_download_bg.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_download_bg.jpg*/ repeat-x;
position:relative;
width:205px;
height:225px;
padding:10px;}
.idnex_download_left{ background:url("../images/index_download_bg_left.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_download_bg_left.jpg*/ no-repeat;
width:5px;
height:245px;
position:absolute;
top:0;
left:0;}
.idnex_download_right{ background:url("../images/index_download_bg_right.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_download_bg_right.jpg*/ no-repeat;
width:5px;
height:245px;
position:absolute;
top:0;
right:0;}/* 右边*/

.index_partners{ height:40px;
width:900px;
background:url("../images/index_partners_bg.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_partners_bg.jpg*/ repeat-x;
margin-bottom:10px;
position:relative;
padding:10px 20px;;
line-height:20px;}
.index_partners_left{ height:60px;
width:920px;
background:url("../images/index_partners_left.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_partners_left.jpg*/ no-repeat;
width:9px;
height:60px;
position:absolute;
top:0;
left:0;}
.index_partners_right{ height:60px;
width:920px;
background:url("../images/index_partners_right.jpg")/*tpa=https://www.tftpay.com/newweb/images/index_partners_right.jpg*/ no-repeat;
width:9px;
height:60px;
position:absolute;
top:0;
right:0;}
.index_partners dt{ padding-right:30px;
border-right:1px solid #DCDCDC;
float:left;}
.index_partners dd{ float:left;
margin-left:10px; }









