@charset "utf-8";
/* CSS Document */


.activities{ width:528px;
height:150px;}/* 最新活动 */
.activities a{ margin:0 5px 0 4px;
display:inline;
height:80px;
width:160px;}/* 最新活动广告*/
.questions{ width:188px;
overflow:hidden;
height:150px;}/* 常见问题*/
.questions ul{ margin-bottom:5px;}/* 常见问题列表*/
.activation{
	width:350px;
	position:relative;
	height:150px;}/* 激活提示*/
.security_ul{
	padding:10px;
	height:40px;
	line-height:20px;
	border-bottom:1px solid #DCDCDC}/* 列表*/
.security_icon01,.security_icon02,.security_icon03,.security_icon04,.security_icon05,.security_icon06,.security_icon07,.security_icon08{ height:40px;
width:60px;}
.security_icon01{ background:url("../images/security_icon01.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon01.jpg*/ no-repeat}/* 安全中心图标*/
.security_icon02{ background:url("../images/security_icon02.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon02.jpg*/ no-repeat}/* 安全中心图标*/
.security_icon03{ background:url("../images/security_icon03.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon03.jpg*/ no-repeat}/* 安全中心图标*/
.security_icon04{ background:url("../images/security_icon04.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon04.jpg*/ no-repeat}/* 安全中心图标*/
.security_icon05{ background:url("../images/security_icon05.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon05.jpg*/ no-repeat}/* 安全中心图标*/
.security_icon06{ background:url("../images/security_icon06.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon06.jpg*/ no-repeat}/* 安全中心图标*/
.security_icon07{ background:url("../images/security_icon07.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon07.jpg*/ no-repeat}/* 安全中心图标*/
.security_icon08{ background:url("../images/security_icon08.jpg")/*tpa=https://www.tftpay.com/newweb/images/security_icon08.jpg*/ no-repeat}/* 安全中心图标*/
.realname_ul{
	padding:10px;
	height:60px;
	line-height:20px;
	border:1px solid #DCDCDC;
	margin-top:10px;
	}/* 实名认证*/
.realname_icon01,.realname_icon02,.realname_icon03{ height:50px;
width:50px;margin-right:15px;}
.realname_icon01{ background:url("../images/realname_icon1.jpg")/*tpa=https://www.tftpay.com/newweb/images/realname_icon1.jpg*/ no-repeat; }
.realname_icon02{ background:url("../images/realname_icon2.jpg")/*tpa=https://www.tftpay.com/newweb/images/realname_icon2.jpg*/ no-repeat; }
.realname_icon03{ background:url("../images/realname_icon3.jpg")/*tpa=https://www.tftpay.com/newweb/images/realname_icon3.jpg*/ no-repeat; }
.realname_tab{
	width:700px;
	border: none;
}
.realname_tab th{width:160px;border: none;text-align: right;text-indent: 10px;font-weight: normal; line-height:30px;
}
.realname_tab td{border: none; text-align: left; padding-left:10px;}
.realname_text_input {
	WIDTH: 250px;
	BACKGROUND: #fff;
	HEIGHT: 25px;
	line-height:25px;
	BORDER: #ccc 1px solid;
	margin-top:5px;
	margin-bottom:5px;
	text-align: left;
	text-indent: 5px;
	margin-right: 5px;
}
.realname_text_input_org {
	WIDTH: 250px;
	BACKGROUND: #fff;
	line-height:30px;
	BORDER: none;
	margin-bottom:5px;
	text-align: left;
	text-indent: 5px;
	margin-right: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #FF6600;
}
.realname_text_select {
	WIDTH: 150px;
	BACKGROUND: #fff;
	HEIGHT: 25px;
	*HEIGHT: 30px;
	line-height:25px;
	BORDER: #ccc 1px solid;
	margin-top:5px;
	margin-bottom:5px;
	text-align: left;
	text-indent: 5px;
	margin-right: 5px;
}
.realname_input {BACKGROUND: #fff;HEIGHT: 25px;line-height:25px;BORDER: #ccc 1px solid;margin-top:5px;margin-bottom:5px;text-align: left;text-indent: 5px;margin-right: 5px;
}
.mention_now_first{width:154px;height:45px;font-size: 14px;line-height: 45px;color: #333;background: url("../images/mention_now_first_bg.gif")/*tpa=https://www.tftpay.com/newweb/images/mention_now_first_bg.gif*/;background-repeat: no-repeat;background-position: center;text-align: center;
}
 .mention_now_yes{
	background: url("../images/icon_11.jpg")/*tpa=https://www.tftpay.com/newweb/images/icon_11.jpg*/;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	font-size:14px;
	width:350px;
	line-height:40px;
	margin-bottom:10px;
	margin-top:15px;
}
.paypswd_tab{
	width:700px;
	border: none;
}
.paypswd_tab th{width:150px;border: none;text-align: right;text-indent: 10px;font-weight: normal; line-height:30px;
}
.paypswd_tab td{border: none; text-align: left; padding-left:10px;}
.paypswd_tab_title{
background-color:#79ab24;
color:#FFFFFF;
}


 .error_open{
	background: url("../images/exclamation_l.jpg")/*tpa=https://www.tftpay.com/newweb/images/exclamation_l.jpg*/;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	font-size:14px;
	width:230px;
	line-height:40px;
	margin-bottom:10px;
	margin-top:15px;
}

.realname_ul1{
	padding:10px;
	height:180px;
	line-height:20px;
	border:1px solid #DCDCDC;
	margin-top:10px; text-align:left;
	width:850px; margin: 0 auto;
		margin-bottom:10px;
	}/* 实名认证*/

.realname_ul2{
	padding:10px;
	height:60px; text-align:left;
	line-height:20px;
	border:1px solid #DCDCDC;
	margin-top:10px;
	width:850px; margin: 0 auto;
		margin-bottom:10px;
	}/* 实名认证*/
	
	
.realname_ul3{
	padding:10px;
	height:230px;
	line-height:20px;
	border:1px solid #DCDCDC;
	margin-top:10px; text-align:left;
	width:850px; margin: 0 auto;
		margin-bottom:10px;
	}/* 实名认证*/
