@charset "utf-8";
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure,select{margin:0;padding:0}
body{color:#333;background-color:#fff;font:12px/1.5 arial}
h1,h2,h3,h4,h5,h6,small,code,kbd,pre,samp,sub,sup,button,input,select,textarea{font-size:100%}
i,em{font-style:normal}
s{text-decoration:none}
a{text-decoration:none;outline:0}
a span,a em,a strong,a div,a p{cursor:pointer}
iframe{vertical-align:top}
fieldset{border:0}
.group,.clear{*zoom:1}
.group:after,.clear:after{content:'\20';display:block;clear:both;height:0;overflow:hidden}
ul,ol{list-style:none}
html{overflow:auto}
body{color:#333;background-color:#fff;-webkit-transform:rotate(180)}
a{color:#069}
a:hover{color:#F63}

.icon-confirm-48,.icon-warn-48,.icon-info-48,.icon-confirm-32,.icon-warn-32,.icon-info-32,.icon-confirm-28,.icon-warn-28,.icon-info-28,.icon-confirm-16,.icon-warn-16,.icon-info-16,.icon-confirm-12,.icon-warn-12,.icon-info-12{display:inline-block;overflow:hidden;background:url(../css/v_sprites.png?t=20120324) no-repeat}
.icon-confirm-12,.icon-warn-12,.icon-info-12{width:12px;height:12px}
.icon-warn-12{background-position:-27px -266px}
.icon-confirm-12{background-position:-1px -266px}.icon-info-12{background-position:-14px -266px}


.chong-mb-form .form-line .sqr-sel,.chong-mb-form .form-line .sqr-sel .ss-r,.ipt-container .ic-l,.ipt-container .ic-r,.ipt-container .btn-qq-list,.chong-mb-form .num-list .operator .ico,.mb-tips-cont .tabs li a,.mb-tips-cont .tabs li span,.btn-show-list,.btn-show-date,.activated,.select .sel-l,.mb-tips-cont .dates a:hover,.freq-charge .ico-edit{background:url(../img/chong_form_sprites.png) no-repeat}
.main_jl .sidebar .package .pack-ft,.main_jl .sidebar .progress .gg-hd,.main_jl .sidebar .progress .ico-rank,.main_jl .sidebar .progress .gg-ft,.freq-charge .value .ico-arr{background:url(../img/chong_frame_sprites.png) no-repeat}
.main_jl .sidebar .package .pack-hd,.lucky-hd{background:url(../img/bg_side.png) no-repeat}
.sidebar .package .pack-bd i,.chong-mb-form .gg-provinces i{background:url(../img/icon_chong.png) no-repeat}
.btn-chong,.mb-tips-cont .btn-line .vm-btn-h28,.btn-cha,.charge-mode .disabled,.balance-area .disabled{background:url(../img/chong_btn_sprites.png?t=20121219) no-repeat}
.select .sel-cont,.chong-mb-form .form-line .hover,.chong-mb-form .form-line .editing,.chong-mb-form .form-line .deleting,.mb-tips-cont .tips-cont .hover,.bd input,.balance-form .num-list .hover{background:url(../img/bg_form_repeat.png) repeat-x 0 0}

.hide{display:none}
.main_jl{float:left;width:785px;padding:0 0 0 15px}
.main_jl .mb-chong-cont{padding:20px 0 0 0px}

.main_jl .bd{zoom:1}
.main_jl .bd{border-top:1px solid #FFF;margin-bottom:35px;padding-top:20px}
.main_jl .tips-x{margin-bottom:10px}
.main_jl .bd .layout-col-1{float:left;width:485px}
.main_jl .charge-mode{width:485px}
.chong-mb-form .form-line{font-size:14px;padding-bottom:22px}
.chong-mb-form .has-cb{padding-bottom:12px;*padding-bottom:22px}
.chong-mb-form .attr{float:left;margin:5px 5px 0 0;text-align:right;width:70px}
.chong-mb-form .cont{float:left;width:408px}
.chong-mb-form .form-line .sqr-sel{float:left;height:32px;background-position:-12px -66px;padding-left:5px;width:81px;margin:0 10px 10px 0;font-size:12px;font-family:Tahoma;cursor:pointer;text-align:center}
.chong-mb-form .form-line .sqr-sel .ss-r{background-position:right -33px;display:inline-block;vertical-align:baseline;width:76px;height:32px;line-height:30px;line-height:31px\9;padding-right:5px;cursor:pointer}
.chong-mb-form .form-line .cur,.chong-mb-form .form-line .sqr-sel:hover{background-position:0 -66px;font-weight:700}
.chong-mb-form .form-line .cur .ss-r,.chong-mb-form .form-line .sqr-sel:hover .ss-r{background-position:right 0}
.chong-mb-form .form-line .sel-type-1 .sqr-sel{width:60px;text-align:center}
.chong-mb-form .form-line .sel-type-1 .sqr-sel .ss-r{width:55px}
.select{float:left;width:85px;height:32px;position:relative}
.select .sel-l{float:left;width:5px;height:32px;background-position:-18px -66px}
.select .sel-cont{float:left;width:40px;height:32px;line-height:32px;font-size:12px;padding-left:2px;color:#999}
.btn-show-list,.btn-show-date{float:left;width:33px;height:32px;background-position:-30px -66px}
.btn-show-list:hover{background-position:-30px -99px}
.select:hover .sel-l{background-position:-24px -66px}
.select:hover .sel-cont{background-position:0 -33px}
.select:hover .btn-show-list{background-position:0 -230px}
.select .options{width:78px;position:absolute;left:0;top:32px;border-radius:3px;box-shadow:2px 2px 2px #999;background:#FFF;font-size:12px;border:1px solid #999}
.select .options a{color:#666;float:left;width:100%;height:26px;line-height:26px;text-indent:10px}
.select .options a:hover{background:#ededed;text-decoration:none;color:#333;letter-spacing:-1px}
.select .options .hover{background:0}
.chong-mb-form .form-line .cur .sel-l,.chong-mb-form .form-line .cur:hover .sel-l{background-position:0 -66px}
.chong-mb-form .form-line .cur .sel-cont{background:#fff7ea;border-top:2px solid #F60;border-bottom:2px solid #F60;height:28px;line-height:28px;color:#333}
.chong-mb-form .form-line .cur .btn-show-list{background-position:-116px -66px}
.chong-mb-form .form-line .cur:hover .btn-show-list{background-position:-84px -230px}.chong-mb-form .form-line .cur .options,.chong-mb-form .form-line .cur:hover .options{font-weight:300}
.chong-mb-form .form-line .card-area{width:385px;z-index:99}
.chong-mb-form .form-line .card-area .sel-cont{width:340px;color:#333}
.chong-mb-form .form-line .card-area .options{width:372px;padding:3px 3px}
.chong-mb-form .form-line .card-area .options a{float:left;padding:0 6px;width:auto;text-indent:0;white-space:nowrap}
.chong-mb-form .form-line .card-area .options a:hover{font-weight:700}
.ipt-container{width:182px;height:32px;position:relative;z-index:9}
.ipt-container .ic-l,.ipt-container .ic-r{float:left;width:5px;height:32px}
.ipt-container .ic-l{background-position:-18px -66px}
.ipt-container .ic-r{background-position:-6px -66px}
.bd input{float:left;padding:0 5px;height:32px;border:0 none;font:700 18px/32px Tahoma}
.chong-mb-form .form-line .ipt-phonenumber{width:380px;z-index:15}
.chong-mb-form .form-line .ipt-phonenumber input{width:257px}
.ipt-phonenumber .btn-show-list{width:93px;background-position:0 -298px}
.ipt-phonenumber .btn-show-list:hover{background-position:0 -364px}
.chong-mb-form .form-line .ipt-phonenumber .activated,.chong-mb-form .form-line .ipt-phonenumber .activated:hover{background-position:0 -331px}
.charge-batch .ipt-phonenumber .btn-show-list{background-position:-30px -66px;width:33px}
.charge-batch .ipt-phonenumber .btn-show-list:hover{background-position:-30px -66px}
.chong-mb-form .charge-batch .select:hover .btn-show-list{background-position:0 -230px}
.chong-mb-form .charge-batch .cur:hover .btn-show-list{background-position:-84px -230px}
.chong-mb-form .form-line .sel-type-1 .ipt-container{width:90px}
.chong-mb-form .form-line .sel-type-1 .ipt-container input{width:38px}
.chong-mb-form .form-line .sel-type-1 .ipt-container:hover .ic-l{background-position:-24px -66px}
.chong-mb-form .form-line .sel-type-1 .ipt-container:hover input{background-position:0 -33px}
.chong-mb-form .form-line .sel-type-1 .ipt-container:hover .btn-show-list{background-position:-30px -99px}
.bd .unfocus{color:#999;font-size:12px;font-weight:300}
.chong-mb-form .num-list,.mb-tips-cont .tips-cont .num-list{position:absolute;width:363px;left:0;top:31px;background:#FFF;border:1px solid #999;border-radius:3px;box-shadow:2px 2px 2px #999}
.chong-mb-form .num-list .record,.mb-tips-cont .tips-cont .num-list .record{float:left;width:100%;text-indent:10px;height:30px;line-height:30px;color:#666;font-family:Tahoma}
.chong-mb-form .num-list .info,.mb-tips-cont .tips-cont .num-list .info{float:left;width:70%}
.chong-mb-form .num-list .info strong,.mb-tips-cont .tips-cont .num-list .info strong{font-size:18px;margin-right:10px;font-weight:300;float:left;width:153px}
.chong-mb-form .num-list .info em,.mb-tips-cont .tips-cont .num-list .info em{float:left;text-indent:0;*margin-top:1px}
.chong-mb-form .num-list .info .unmarked,.mb-tips-cont .tips-cont .num-list .info .unmarked{float:left;text-indent:0;color:#999;*margin-top:1px}
.chong-mb-form .num-list .info input,.chong-mb-form .num-list .operator button{display:none}
.chong-mb-form .num-list .operator{float:right;width:56px}
.chong-mb-form .num-list .operator .ico{width:11px;height:11px;display:inline-block;margin-right:10px;line-height:11px;overflow:hidden}
.chong-mb-form .form-line .operator .ico-edit{background-position:-115px -98px}
.chong-mb-form .form-line .operator .ico-edit:hover{background-position:-115px -113px}
.chong-mb-form .form-line .operator .ico-del{background-position:-128px -98px;margin-right:10px}
.chong-mb-form .form-line .operator .ico-del:hover{background-position:-128px -113px}
.chong-mb-form .form-line .hover,.chong-mb-form .form-line .editing,.chong-mb-form .form-line .deleting,.mb-tips-cont .tips-cont .hover{background-position:0 -66px;text-decoration:none}
.chong-mb-form .form-line .deleting em,.chong-mb-form .form-line .hover em,.chong-mb-form .form-line .hover .unmarked,.mb-tips-cont .tips-cont .hover .unmarked,.chong-mb-form .form-line .hover .match,.chong-mb-form .form-line .editing .match,.chong-mb-form .form-line .deleting .match,.mb-tips-cont .tips-cont .hover .match{color:#FFF}
.chong-mb-form .form-line .hover strong,.chong-mb-form .form-line .editing strong,.chong-mb-form .form-line .deleting strong,.mb-tips-cont .tips-cont .hover strong{font-size:20px;color:#FFF}
.chong-mb-form .form-line .hover{cursor:pointer}
.chong-mb-form .form-line .match,.mb-tips-cont .tips-cont .match{color:#F63}
.chong-mb-form .form-line .confirm-tips,.bd .warn-tips{position:absolute;right:115px;top:7px;font-size:12px;white-space:nowrap}
.form-line .confirm-tips .icon-confirm-12,.bd .warn-tips .icon-warn-12{float:left;margin:3px 3px 0 0}
.chong-mb-form .form-line .editing{position:relative;z-index:9}
.chong-mb-form .form-line .editing .info em,.chong-mb-form .form-line .editing .info .unmarked{display:none}
.chong-mb-form .form-line .editing .info input{display:block;width:87px;background:#FFF;padding:1px 2px;height:18px;margin:5px 0 0;border-radius:1px;font:300 14px/18px Arail;_line-height:19px}
.chong-mb-form .form-line .editing .operator,.chong-mb-form .form-line .deleting .operator{width:30%}
.chong-mb-form .form-line .editing .operator .ico,.chong-mb-form .form-line .deleting .operator .ico{display:none}
.chong-mb-form .form-line .editing .operator button,.chong-mb-form .form-line .deleting .operator button{font-size:12px;width:48px;*width:44px;float:left;margin:3px 0 0 5px;text-indent:0;_line-height:22px}
.chong-mb-form .form-line .editing .operator .btn-save,.chong-mb-form .form-line .editing .operator .btn-cancel,.chong-mb-form .form-line .deleting .operator .btn-del,.chong-mb-form .form-line .deleting .operator .btn-cancel{display:block;_display:inline;height:24px;line-height:20px}
.chong-mb-form .form-line .num-list .login{text-align:center;font-size:12px;padding:5px 0}
.chong-mb-form .form-line .num-list .login a{padding-right:10px}
.chong-mb-form .price-line{padding-bottom:20px}
.chong-mb-form .price-line .attr{margin-top:0;font-size:14px}
.chong-mb-form .price-line .cont strong{color:#F63;font:300 24px/24px Arial;vertical-align:middle}
.chong-mb-form .btn-line{padding-left:75px}

.btn-chong{background-position:0 0;display:block;width:116px;height:38px;line-height:999em;overflow:hidden}

.chong-mb-form .btn-line .tips{border:1px solid #eacaa5;background:#fffae3;margin:5px 0 0;width:220px;padding:3px 0}
.chong-mb-form .btn-line .tips .icon-info-12{float:left;margin:3px 3px 0 8px}
.main_jl .sidebar{float:right;width:185px; padding-right:26px;}
.main_jl .sidebar .package{margin-bottom:10px}
#packageCon .pack-hd{position: relative;margin-bottom: -7px;}
.main_jl .sidebar .package .pack-hd{height:57px;background-position:0 0;padding:3px 0 0 5px;position:relative}
.main_jl .sidebar .package .pack-hd .money{float:left;height:46px;overflow:hidden;margin-right:5px}
.main_jl .sidebar .package .pack-hd strong{font:700 46px/1 Tahoma;color:#FFF;text-shadow:1px 1px 0 #e9ab19;letter-spacing:-1px}
.main_jl .sidebar .package .pack-hd .pack-guide{float:left;margin:6px 0 0}
.main_jl .sidebar .package .pack-hd em{display:block;font:700 18px/1 \5FAE\8F6F\96C5\9ED1;color:#FFF;text-shadow:1px 1px 0 #e9ab19;margin-bottom:3px}
.main_jl .sidebar .package .pack-hd span{color:#d2660b;font:300 12px/20px \5FAE\8F6F\96C5\9ED1}
.main_jl .sidebar .package .pack-bd{border-left:1px solid #dedede;border-right:1px solid #dedede;padding:10px 5px;background:#FFF;*zoom:1}
.main_jl .sidebar .package .pack-bd i{float:left;margin-right:3px}
.main_jl .sidebar .package .pack-bd .ico-vip{background-position:-129px -43px;width:14px;height:16px}
.main_jl .sidebar .package .pack-bd .ico-cz{background-position:-111px -42px;width:15px;height:15px}
.main_jl .sidebar .package .pack-bd .ico-cx{background-position:-17px -101px;width:16px;height:16px}
.main_jl .sidebar .package .pack-bd .ico-nc{background-position:-129px -63px;width:14px;height:16px}
.main_jl .sidebar .package .pack-bd li{padding:0 0 5px 0}
.main_jl .sidebar .package .pack-bd li em{font-weight:700}
.main_jl .sidebar .package .pack-ft{height:27px;text-align:center;line-height:27px;background-position:0 -139px}
.main_jl .sidebar .package .pack-ft a{color:#666}
.main_jl .sidebar .package .pack-ft a:hover{color:#F63}
.main_jl .sidebar .package .pack-bd p{display:none;}
.main_jl .sidebar .empty .pack-hd{background-position:0 -62px}
.main_jl .sidebar .empty .pack-hd .money strong{text-shadow:1px 1px 0 #9c9c9c}
.main_jl .sidebar .empty .pack-hd em{text-shadow:1px 1px 0 #9c9c9c}
.main_jl .sidebar .empty .pack-hd span{color:#797979}
.main_jl .sidebar .empty .pack-bd p{display:block;color:#333;font-weight:700;padding-bottom:5px}

/*  |xGv00|559ff6d41112cab1f632564a3a6ec75b */

input{outline:0}
.shake{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.8s;-moz-animation-duration:.8s;-ms-animation-duration:.8s;-o-animation-duration:.8s;animation-duration:.8s;-webkit-animation-name:shake;-moz-animation-name:shake;-o-animation-name:shake;animation-name:shake}

@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0)}30%,50%,70%{-webkit-transform:translateX(-5px)}20%,40%,60%,80%{-webkit-transform:translateX(5px)}}
@-moz-keyframes shake{0%,100%{-moz-transform:translateX(0)}30%,50%,70%{-moz-transform:translateX(-5px)}20%,40%,60%,80%{-moz-transform:translateX(5px)}}
@-o-keyframes shake{0%,100%{-o-transform:translateX(0)}30%,50%,70%{-o-transform:translateX(-5px)}20%,40%,60%,80%{-o-transform:translateX(5px)}}
@keyframes shake{0%,100%{transform:translateX(0)}30%,50%,70%{transform:translateX(-5px)}20%,40%,60%,80%{transform:translateX(5px)}}
@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}

.icon-confirm-12,.icon-warn-12,.icon-info-12{display:inline-block;overflow:hidden;background:url(../img/v_sprites.png?t=20120324) no-repeat}
.icon-confirm-12,.icon-warn-12,.icon-info-12{width:12px;height:12px}
.icon-warn-12{background-position:-27px -266px}
.icon-confirm-12{background-position:-1px -266px}
.icon-info-12{background-position:-14px -266px}

.tips-x,.tips-arrow-up,.tips-arrow-left,.tips-arrow-right,.tips-arrow-down{border:1px solid #eacaa5;background:#fffae3;padding:7px;color:#303030; margin-bottom:20px;}
.tips-x .tips-text{margin-right:16px}