@charset "utf-8";
/* CSS Document */

#myfocus{width:940px;height:320px;overflow:hidden;background:#000;position:relative;}
#myfocus #myloading{ position:absolute;z-index:9999;width:940px;height:320px;background:#333;color:#c7d50c;font-size:12px;text-align:center;padding-top:70px;}
#myfocus #myloading .bg{position:absolute;top:0;left:0;z-index:-1;}/*载入画面*/
#myfocus .pics{width:940px;height:320px;overflow:hidden;position:relative;}
#myfocus .pics ul{height:320px;position:absolute;}
#myfocus .pics ul li{width:940px;height:320px;float:left;position:relative;}/*图片大小450px*296px*/
#myfocus .pics ul li div,#myfocus .pics ul li div span,#myfocus .pics ul li div a{display:block;position:absolute;bottom:0;left:0;width:100%;height:2px;}

#myfocus .pics ul li div a{line-height:34px;overflow:hidden;padding-left:16px;text-decoration:none;font-size:14px;color:#fff;}/*文字标题样式*/
#myfocus .mybtn{position:absolute;bottom:8px;right:8px;}
#myfocus .mybtn ul li{float:left;width:38px;height:6px;margin-left:4px;overflow:hidden;border:1px solid #000;background:url("../images/banner_btn.jpg")/*tpa=https://www.tftpay.com/images/banner_btn.jpg*/ #505050;cursor:pointer;}
#myfocus .mybtn ul li.current{background:url("../images/banner_btn_on.jpg")/*tpa=https://www.tftpay.com/images/banner_btn_on.jpg*/ #75a012;}
