html, body {height:100%;}
#TB_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color:#e5e5e5;
	filter:alpha(opacity=40);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
#TB_window {
	top: 0px;
	left: 0px;
	position: fixed;
	_position: absolute;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	border:1px solid #d1d3d4;
}
#TB_caption{
	height:25px;
	/*padding:10px 30px 10px 25px;*/
}
#TB_closeWindow{
	/*height:25px;
	padding:10px 25px 10px 0;*/
	float:right;
}
#TB_closeAjaxWindow3{
	height:30px; background:url("../pic/tab_bg01.gif")/*tpa=https://www.tftpay.com/pic/tab_bg01.gif*/; border-bottom:1px solid #ededee; 
	float:left;
	width:100%;
}
#TB_closeAjaxWindow{
	text-align:right;
	float:right;
	margin-top:8px;
	margin-right:15px;
}
#TB_closeAjaxWindow2{
	float:left;
	padding-left:20px;
	padding-top:8px;
	font-weight:bold;
}
#TB_ajaxContent{
/*	padding:2px 15px 15px 15px;*/
	overflow:auto;
}

#TB_load{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block;
	z-index:101;
}
#TB_loadContent{
	margin-left: -125px;
	position: absolute;
	top: -50px;
	left: 50%;
	width: 250px;
	height: 100px;
	visibility: visible;
}